.banner{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.544) 0%, rgba(255, 0, 0, 0.289) 50%), url("../../images/s_l_back.jpg");
    color: white;
    padding: 150px 0px;
    background-size: cover;
    background-position: center;
}
.banner h1{
    font-size: 50px;
}
.banner h2{
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.8;
    margin-bottom: 40px;
}
